mixin badge-success
    .inline-flex.items-center.justify-center.rounded-full.py-2.px-5.bg-green-100.gap-2.text-green-600
        +icon-check-md
        span Прочитано    

mixin badge-warning
    .inline-flex.items-center.justify-center.rounded-full.py-2.px-5.bg-yellow-100.gap-2.text-yellow-600
        +icon-book-md
        span Читаете

mixin badge-danger
    .inline-flex.items-center.justify-center.rounded-full.py-2.px-5.bg-rose-100.gap-2.text-red-600
        +icon-alert-md
        span Остановили

mixin badge(title)
    div(class="inline-flex items-center rounded-lg bg-gray-100 px-2 py-1 text-gray-500")= title