mixin icon-success-lg
    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="40" height="40" rx="20" fill="#10B981"/>
        <path d="M28 14L17 25L12 20" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>

mixin icon-clock
    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="40" height="40" rx="20" fill="#E5E7EB"/>
        <path d="M20 14V20L24 22M30 20C30 25.5228 25.5228 30 20 30C14.4772 30 10 25.5228 10 20C10 14.4772 14.4772 10 20 10C25.5228 10 30 14.4772 30 20Z" stroke="#9CA3AF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>

mixin icon-book
    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="40" height="40" rx="20" fill="#FEF9C3"/>
        <path d="M20 29L19.8999 28.8499C19.2053 27.808 18.858 27.287 18.3991 26.9098C17.9929 26.5759 17.5248 26.3254 17.0216 26.1726C16.4533 26 15.8271 26 14.5748 26H13.2C12.0799 26 11.5198 26 11.092 25.782C10.7157 25.5903 10.4097 25.2843 10.218 24.908C10 24.4802 10 23.9201 10 22.8V14.2C10 13.0799 10 12.5198 10.218 12.092C10.4097 11.7157 10.7157 11.4097 11.092 11.218C11.5198 11 12.0799 11 13.2 11H13.6C15.8402 11 16.9603 11 17.816 11.436C18.5686 11.8195 19.1805 12.4314 19.564 13.184C20 14.0397 20 15.1598 20 17.4M20 29V17.4M20 29L20.1001 28.8499C20.7947 27.808 21.142 27.287 21.6009 26.9098C22.0071 26.5759 22.4752 26.3254 22.9784 26.1726C23.5467 26 24.1729 26 25.4252 26H26.8C27.9201 26 28.4802 26 28.908 25.782C29.2843 25.5903 29.5903 25.2843 29.782 24.908C30 24.4802 30 23.9201 30 22.8V14.2C30 13.0799 30 12.5198 29.782 12.092C29.5903 11.7157 29.2843 11.4097 28.908 11.218C28.4802 11 27.9201 11 26.8 11H26.4C24.1598 11 23.0397 11 22.184 11.436C21.4314 11.8195 20.8195 12.4314 20.436 13.184C20 14.0397 20 15.1598 20 17.4" stroke="#EAB308" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>

mixin icon-success
    <svg width="96" height="96" viewBox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M48 4C23.6995 4 4 23.6995 4 48C4 72.3005 23.6995 92 48 92C72.3005 92 92 72.3005 92 48C92 23.6995 72.3005 4 48 4ZM68.8284 38.8284C70.3905 37.2663 70.3905 34.7337 68.8284 33.1716C67.2663 31.6095 64.7337 31.6095 63.1716 33.1716L42 54.3431L32.8284 45.1716C31.2663 43.6095 28.7337 43.6095 27.1716 45.1716C25.6095 46.7337 25.6095 49.2663 27.1716 50.8284L39.1716 62.8284C40.7337 64.3905 43.2663 64.3905 44.8284 62.8284L68.8284 38.8284Z" fill="#10B981"/>
    </svg>

mixin icon-success-xl
    <svg width="96" height="96" viewBox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M48 4C23.6995 4 4 23.6995 4 48C4 72.3005 23.6995 92 48 92C72.3005 92 92 72.3005 92 48C92 23.6995 72.3005 4 48 4ZM68.8284 38.8284C70.3905 37.2663 70.3905 34.7337 68.8284 33.1716C67.2663 31.6095 64.7337 31.6095 63.1716 33.1716L42 54.3431L32.8284 45.1716C31.2663 43.6095 28.7337 43.6095 27.1716 45.1716C25.6095 46.7337 25.6095 49.2663 27.1716 50.8284L39.1716 62.8284C40.7337 64.3905 43.2663 64.3905 44.8284 62.8284L68.8284 38.8284Z" fill="#10B981"/>
    </svg>

mixin icon-failure
    <svg width="96" height="96" viewBox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M48 4C23.6995 4 4 23.6995 4 48C4 72.3005 23.6995 92 48 92C72.3005 92 92 72.3005 92 48C92 23.6995 72.3005 4 48 4ZM30.0001 36C30.0001 32.6863 32.6864 30 36.0001 30C39.3139 30 42.0001 32.6863 42.0001 36C42.0001 39.3137 39.3139 42 36.0001 42C32.6864 42 30.0001 39.3137 30.0001 36ZM54.0001 36C54.0001 32.6863 56.6864 30 60.0001 30C63.3139 30 66.0001 32.6863 66.0001 36C66.0001 39.3137 63.3139 42 60.0001 42C56.6864 42 54.0001 39.3137 54.0001 36ZM29.6002 67.1996C31.362 68.5209 33.859 68.1692 35.1877 66.4163L35.2062 66.3926C35.2301 66.3625 35.2753 66.3062 35.3415 66.2274C35.4741 66.0694 35.689 65.8229 35.9819 65.5173C36.5711 64.9024 37.4565 64.0683 38.6029 63.2346C40.9112 61.5559 44.1024 59.9996 48.0002 59.9996C51.8981 59.9996 55.0893 61.5559 57.3975 63.2346C58.544 64.0683 59.4293 64.9024 60.0185 65.5173C60.3115 65.8229 60.5264 66.0694 60.659 66.2274C60.7252 66.3062 60.7704 66.3625 60.7942 66.3926L60.8128 66.4163C62.1415 68.1692 64.6385 68.5209 66.4002 67.1996C68.1675 65.8741 68.5257 63.3669 67.2002 61.5996L66.7868 61.0844C66.5522 60.8049 66.2202 60.4263 65.7944 59.982C64.9461 59.0968 63.7065 57.9309 62.1029 56.7647C58.9112 54.4434 54.1024 51.9996 48.0002 51.9996C41.8981 51.9996 37.0893 54.4434 33.8975 56.7647C32.294 57.9309 31.0543 59.0968 30.206 59.982C29.7802 60.4263 29.4483 60.8049 29.2137 61.0844C29.072 61.2532 28.9351 61.4254 28.8002 61.5996C27.4748 63.3669 27.8329 65.8741 29.6002 67.1996Z" fill="#DC2626"/>
    </svg>

mixin icon-check-md 
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M12 1C5.92487 1 1 5.92487 1 12C1 18.0751 5.92487 23 12 23C18.0751 23 23 18.0751 23 12C23 5.92487 18.0751 1 12 1ZM17.2071 9.70711C17.5976 9.31658 17.5976 8.68342 17.2071 8.29289C16.8166 7.90237 16.1834 7.90237 15.7929 8.29289L10.5 13.5858L8.20711 11.2929C7.81658 10.9024 7.18342 10.9024 6.79289 11.2929C6.40237 11.6834 6.40237 12.3166 6.79289 12.7071L9.79289 15.7071C10.1834 16.0976 10.8166 16.0976 11.2071 15.7071L17.2071 9.70711Z" fill="#10B981"/>
    </svg>

mixin icon-book-md 
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12 21L11.8999 20.8499C11.2053 19.808 10.858 19.287 10.3991 18.9098C9.99286 18.5759 9.52476 18.3254 9.02161 18.1726C8.45325 18 7.82711 18 6.57482 18H5.2C4.07989 18 3.51984 18 3.09202 17.782C2.71569 17.5903 2.40973 17.2843 2.21799 16.908C2 16.4802 2 15.9201 2 14.8V6.2C2 5.07989 2 4.51984 2.21799 4.09202C2.40973 3.71569 2.71569 3.40973 3.09202 3.21799C3.51984 3 4.07989 3 5.2 3H5.6C7.84021 3 8.96031 3 9.81596 3.43597C10.5686 3.81947 11.1805 4.43139 11.564 5.18404C12 6.03968 12 7.15979 12 9.4M12 21V9.4M12 21L12.1001 20.8499C12.7947 19.808 13.142 19.287 13.6009 18.9098C14.0071 18.5759 14.4752 18.3254 14.9784 18.1726C15.5467 18 16.1729 18 17.4252 18H18.8C19.9201 18 20.4802 18 20.908 17.782C21.2843 17.5903 21.5903 17.2843 21.782 16.908C22 16.4802 22 15.9201 22 14.8V6.2C22 5.07989 22 4.51984 21.782 4.09202C21.5903 3.71569 21.2843 3.40973 20.908 3.21799C20.4802 3 19.9201 3 18.8 3H18.4C16.1598 3 15.0397 3 14.184 3.43597C13.4314 3.81947 12.8195 4.43139 12.436 5.18404C12 6.03968 12 7.15979 12 9.4" stroke="#ca8a04" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>


mixin icon-alert-md
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M12.8123 1.66861C12.295 1.43859 11.7044 1.43859 11.1871 1.66861C10.7876 1.84627 10.5281 2.15918 10.3475 2.41416C10.1699 2.66485 9.9798 2.99327 9.77072 3.35447L1.50357 17.6341C1.29366 17.9966 1.1029 18.326 0.973562 18.6056C0.842112 18.8897 0.699508 19.2717 0.744957 19.7076C0.803767 20.2717 1.09931 20.7843 1.55802 21.1178C1.91252 21.3756 2.31451 21.4435 2.62627 21.4721C2.93302 21.5003 3.31368 21.5003 3.73257 21.5002H20.2669C20.6857 21.5003 21.0664 21.5003 21.3732 21.4721C21.6849 21.4435 22.0869 21.3756 22.4414 21.1178C22.9001 20.7843 23.1957 20.2717 23.2545 19.7076C23.2999 19.2717 23.1573 18.8897 23.0259 18.6056C22.8966 18.3261 22.7058 17.9967 22.4959 17.6342L14.2287 3.35443C14.0197 2.99326 13.8295 2.66484 13.652 2.41416C13.4714 2.15918 13.2119 1.84627 12.8123 1.66861ZM12.9998 9.00024C12.9998 8.44796 12.552 8.00024 11.9998 8.00024C11.4475 8.00024 10.9998 8.44796 10.9998 9.00024V13.0002C10.9998 13.5525 11.4475 14.0002 11.9998 14.0002C12.552 14.0002 12.9998 13.5525 12.9998 13.0002V9.00024ZM11.9998 16.0002C11.4475 16.0002 10.9998 16.448 10.9998 17.0002C10.9998 17.5525 11.4475 18.0002 11.9998 18.0002H12.0098C12.562 18.0002 13.0098 17.5525 13.0098 17.0002C13.0098 16.448 12.562 16.0002 12.0098 16.0002H11.9998Z" fill="#E11D48"/>
    </svg>