mixin test-nav 
    div(class="fixed p-5 right-0 bottom-0 left-0 bg-white flex justify-between items-center border-t")
        +button-secondary('Назад')
        
        div(class="flex gap-2")
            div(class="text-gray-500")
                span.font-semibold.text-black Вопрос 9
                =" "
                span / 99
            div &middot;
            div() 17:35
        
        +button-primary("Вперед")

mixin test-nav-timeout
    div(class="fixed p-5 right-0 bottom-0 left-0 bg-rose-100 border-rose-300 flex justify-between items-center border-t")

        +button-secondary('Назад')

        div(class="flex flex-col items-center")
        
            div(class="text-rose-600 font-semibold") Время вопроса/теста закончилось
            
            div(class="flex gap-2")
                div(class="")
                    span(class="font-semibold") Вопрос 9
                    =" "
                    span / 99
                div &middot;
                div() 00:00

        
        
        +button-primary("Результаты / Вперед")