mixin test-nav 
    div(class="fixed p-5 right-0 bottom-0 left-0 bg-white flex justify-between items-center border-t")
        +button-secondary('Назад')
        div(class="text-gray-500")
            span.font-semibold.text-black Вопрос 9
            =" "
            span / 99
        +button-primary("Вперед")

mixin test-nav-timeout
    div(class="fixed p-5 right-0 bottom-0 left-0 flex justify-between items-center border-t bg-rose-600 text-white")
        
        div(class="text-white font-semibold") Ваше время закончилось
        +button-primary("Посмотреть результаты")