mixin progress-bar 
    .bg-yellow-100.rounded-full.overflow-hidden.shadow-sm
        .bg-yellow-500.h-2.w-10(style='width: 13%')

mixin progress-bar-success
    .bg-yellow-100.rounded-full.overflow-hidden.shadow-sm
        .bg-emerald-500.h-2.w-10(style='width: 100%')