header.flex.items-center.justify-between.p-4.bg-white.shadow-md
    div
        +logo

    div(class="flex items-center gap-5 hidden lg:flex")
        a(href="" class="text-blue-800 font-semibold") Тесты
        a(href="") Книги
        a(href="") Рейтинг
    
    div(class="flex gap-4 items-center")
        
        div(x-data="{ open: false }")
            
            button(x-on:click="open = ! open")
                +avatar
            
            div(x-show.important="open" class="p-10 fixed inset-0 z-30 overflow-auto bg-black/50" style="display: none;")

                div(@click.away="open = false" class="rounded-2xl p-6 bg-white mx-auto max-w-80")

                    div(class="flex flex-col divide-y justify-center text-center")
                    
                        a(href="" class="py-2") Тесты
                        a(href="" class="py-2") Книги
                        a(href="" class="py-2") Рейтинг
                        a(href="" class="py-2") Профайл
                        a(href="" class="py-2 text-red-500") Выйти



    