doctype html
html
    include _head.pug
    title Main
body(class="bg-gray-100 pb-40")
    include _header.pug

    //- page content start

    +main('')

        h2(class="text-4xl") Книги

        div(class="flex items-center justify-between flex-wrap gap-2")
            div(class="flex items-center gap-2 flex-wrap")

                +button-primary('Все')
                +button-secondary('Сейчас читаете')
                +button-secondary('Остановили')
                +button-secondary('Прочитали')

            div(class="flex items-center gap-2 flex-wrap")
                select.block.rounded-lg.border-gray-200(name='' id='')
                    option(value='0') Выбрите класс
                    option(value='9') 9 «А»
                    option(value='10') 10 «А»
                    option(value='11' selected='') 11 «А»
                select.block.rounded-lg.border-gray-200(name='' id='')
                    option(value='0') Выбрите четверть
                    option(value='1') Четверть I
                    option(value='2' selected='') Четверть II
                    option(value='3') Четверть III
                    option(value='4') Четверть IV

        h3(class="text-2xl") Список рекомендуемых книг для чтения во второй четверти

        div(class="grid grid-cols-1 gap-5 lg:grid-cols-4")

            +book-card
            +book-card
            +book-card
            +book-card
            +book-card

        nav.flex.items-center.justify-between(role='navigation' aria-label='Pagination Navigation')
            .flex.justify-between.flex-1(class='sm:hidden')
                span.relative.inline-flex.items-center.px-4.py-2.text-sm.font-medium.text-gray-500.bg-white.border.border-gray-300.cursor-default.leading-5.rounded-md
                    | « Previous
                a.relative.inline-flex.items-center.px-4.py-2.ml-3.text-sm.font-medium.text-gray-700.bg-white.border.border-gray-300.leading-5.rounded-md.ring-gray-300.transition.ease-in-out.duration-150(href='http://chirper.test/chirps?page=2' class='hover:text-gray-500 focus:outline-none focus:ring focus:border-blue-300 active:bg-gray-100 active:text-gray-700')
                    | Next »
            .hidden(class='sm:flex-1 sm:flex sm:items-center sm:justify-between flex-col gap-4')
                div
                    p.text-sm.text-gray-700.leading-5
                        | Showing
                        =" "
                        span.font-medium
                        =" "
                        | 1
                        =" "
                        | to
                        =" "
                        span.font-medium
                        =" "
                        | 5
                        =" "
                        | of
                        span.font-medium
                        =" "
                        | 23
                        =" "
                        | results
                div
                    span.relative.z-0.inline-flex.shadow-sm.rounded-md
                        span(aria-disabled='true' aria-label='&laquo; Previous')
                            span.relative.inline-flex.items-center.px-2.py-2.text-sm.font-medium.text-gray-500.bg-white.border.border-gray-300.cursor-default.rounded-l-md.leading-5(aria-hidden='true')
                                svg.w-5.h-5(fill='currentColor' viewBox='0 0 20 20')
                                    path(fill-rule='evenodd' d='M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z' clip-rule='evenodd')
                        span(aria-current='page')
                            span.relative.inline-flex.items-center.px-4.py-2.-ml-px.text-sm.font-medium.text-gray-500.bg-white.border.border-gray-300.cursor-default.leading-5 1
                        a.relative.inline-flex.items-center.px-4.py-2.-ml-px.text-sm.font-medium.text-gray-700.bg-white.border.border-gray-300.leading-5.ring-gray-300.transition.ease-in-out.duration-150(href='http://chirper.test/chirps?page=2' class='hover:text-gray-500 focus:z-10 focus:outline-none focus:ring focus:border-blue-300 active:bg-gray-100 active:text-gray-700' aria-label='Go to page 2')
                            | 2
                        a.relative.inline-flex.items-center.px-4.py-2.-ml-px.text-sm.font-medium.text-gray-700.bg-white.border.border-gray-300.leading-5.ring-gray-300.transition.ease-in-out.duration-150(href='http://chirper.test/chirps?page=3' class='hover:text-gray-500 focus:z-10 focus:outline-none focus:ring focus:border-blue-300 active:bg-gray-100 active:text-gray-700' aria-label='Go to page 3')
                            | 3
                        a.relative.inline-flex.items-center.px-4.py-2.-ml-px.text-sm.font-medium.text-gray-700.bg-white.border.border-gray-300.leading-5.ring-gray-300.transition.ease-in-out.duration-150(href='http://chirper.test/chirps?page=4' class='hover:text-gray-500 focus:z-10 focus:outline-none focus:ring focus:border-blue-300 active:bg-gray-100 active:text-gray-700' aria-label='Go to page 4')
                            | 4
                        a.relative.inline-flex.items-center.px-4.py-2.-ml-px.text-sm.font-medium.text-gray-700.bg-white.border.border-gray-300.leading-5.ring-gray-300.transition.ease-in-out.duration-150(href='http://chirper.test/chirps?page=5' class='hover:text-gray-500 focus:z-10 focus:outline-none focus:ring focus:border-blue-300 active:bg-gray-100 active:text-gray-700' aria-label='Go to page 5')
                            | 5
                        a.relative.inline-flex.items-center.px-2.py-2.-ml-px.text-sm.font-medium.text-gray-500.bg-white.border.border-gray-300.rounded-r-md.leading-5.ring-gray-300.transition.ease-in-out.duration-150(href='http://chirper.test/chirps?page=2' rel='next' class='hover:text-gray-400 focus:z-10 focus:outline-none focus:ring focus:border-blue-300 active:bg-gray-100 active:text-gray-500' aria-label='Next &raquo;')
                            svg.w-5.h-5(fill='currentColor' viewBox='0 0 20 20')
                                path(fill-rule='evenodd' d='M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z' clip-rule='evenodd')


    //- page content end

    include _footer.pug