doctype html
html
    include _head.pug
    title Book Detail
body(class="bg-gray-100 pb-20")
    include _header.pug

    //- page content start

    +main('')

        +card('')
            .flex.gap-10
                
                div(class="w-56 shrink-0 space-y-4")
                    img.rounded-2xl(src='content//book_cover.jpg' alt='')

                    +button-secondary('Скачать', 'w-full')
                    +button-secondary('Читать онлайн', 'w-full')
                
                .space-y-5
                        h1.text-4xl Богатый папа, бедный папа
                        
                        div Роберт Кийосаки

                        .inline-flex.items-center.justify-center.rounded-full.py-2.px-5.bg-yellow-100.gap-2
                            svg(width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M12 21.5791L11.8999 21.429C11.2053 20.3871 10.858 19.8661 10.3991 19.4889C9.99286 19.155 9.52476 18.9045 9.02161 18.7517C8.45325 18.5791 7.82711 18.5791 6.57482 18.5791H5.2C4.07989 18.5791 3.51984 18.5791 3.09202 18.3611C2.71569 18.1694 2.40973 17.8634 2.21799 17.4871C2 17.0593 2 16.4992 2 15.3791V6.7791C2 5.659 2 5.09894 2.21799 4.67112C2.40973 4.2948 2.71569 3.98884 3.09202 3.79709C3.51984 3.5791 4.07989 3.5791 5.2 3.5791H5.6C7.84021 3.5791 8.96031 3.5791 9.81596 4.01508C10.5686 4.39857 11.1805 5.01049 11.564 5.76314C12 6.61879 12 7.73889 12 9.9791M12 21.5791V9.9791M12 21.5791L12.1001 21.429C12.7947 20.3871 13.142 19.8661 13.6009 19.4889C14.0071 19.155 14.4752 18.9045 14.9784 18.7517C15.5467 18.5791 16.1729 18.5791 17.4252 18.5791H18.8C19.9201 18.5791 20.4802 18.5791 20.908 18.3611C21.2843 18.1694 21.5903 17.8634 21.782 17.4871C22 17.0593 22 16.4992 22 15.3791V6.7791C22 5.659 22 5.09894 21.782 4.67112C21.5903 4.2948 21.2843 3.98884 20.908 3.79709C20.4802 3.5791 19.9201 3.5791 18.8 3.5791H18.4C16.1598 3.5791 15.0397 3.5791 14.184 4.01508C13.4314 4.39857 12.8195 5.01049 12.436 5.76314C12 6.61879 12 7.73889 12 9.9791' stroke='#111111' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                            span Читаете

                        div(class="flex gap-5")
                            .flex.items-center.gap-2
                                .bg-gray-100.rounded-full.h-12.w-12.flex.items-center.justify-center.shrink-0
                                    svg(width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4 15.5796C4 15.5796 5 14.5796 8 14.5796C11 14.5796 13 16.5796 16 16.5796C19 16.5796 20 15.5796 20 15.5796V3.57959C20 3.57959 19 4.57959 16 4.57959C13 4.57959 11 2.57959 8 2.57959C5 2.57959 4 3.57959 4 3.57959L4 22.5796' stroke='#111111' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                                
                                +description-list('Период начала чтения', '20.09.2023')
                                    
                            .flex.items-center.gap-2
                                .bg-gray-100.rounded-full.h-12.w-12.flex.items-center.justify-center.shrink-0
                                    svg(width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M20 6.57959L9 17.5796L4 12.5796' stroke='#111111' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                                

                                +description-list('Период окончания чтения', '18 октября 2023')

                        +description-list('Ваш прогресс', '78%')

                        .bg-yellow-100.rounded-full.overflow-hidden.shadow-sm
                            .bg-yellow-500.h-2.w-10(style='width: 13%')

                        +description-list('Прогресс ваших одноклассников', '85%')

                        .bg-yellow-100.rounded-full.overflow-hidden.shadow-sm
                            .bg-yellow-500.h-2.w-10(style='width: 78%')

                        +description-list('Прогресс параллелей 2-х классов', '57%')

                        .bg-yellow-100.rounded-full.overflow-hidden.shadow-sm
                            .bg-yellow-500.h-2.w-10(style='width: 78%')

                        +description-list('Описание', 'Книга исследует ключевые принципы, такие как отличие между активами и пассивами, важность финансовой грамотности, преодоление страха и рисков, а также важность инвестирования в себя и развитие предпринимательского мышления.')

                        +description-list('Количество страниц', '220')
                        +description-list('Жанр:', 'Нон-фикшн')
                        +description-list('Рекомендовано для классов:', '9, 10, 11')
                        +description-list('Учебный год:', '2023—2024')

                
                div(class="w-56 shrink-0")
                    div(class="border p-5 rounded-2xl bg-blue-50 border border-blue-100 text-center space-y-4")
                        h3(class="font-semibold text-lg") Заработанные баллы

                        .bg-emerald-500.rounded-full.text-white.h-28.w-28.flex.items-center.justify-center.text-4xl.font-semibold.mx-auto
                            | 134
                        
                        div(class="") Все набранные баллы, полученные в результате прочтения этой книги.

                        +description-list('Ваше место в классе', '15')
                        +description-list('Ваше место среди параллелей', '179')

                        
                        
                        div
                            a.text-blue-800(href='') Посмотреть все баллы →



        h3(class="font-semibold text-lg") Разделы книги
        
        +card('p-4')
            div(class="flex items-start gap-4 justify-between")
                .flex.gap-4
                    +icon-clock
                    +description-list('Раздел книги', '«Урок, который преподал мне Роберт Фрост»')
                .flex.flex-col.gap-4
                    +description-list('Период начала', '20.09.2023')
                    +description-list('Период окончания', '22.09.2023')
                .flex.flex-col.gap-4
                    +description-list('Начало', '—')
                    +description-list('Окончание', '—')
                .flex.flex-col.gap-4
                    +description-list('Баллы', '—')
                    +description-list('Освоение', '—')
                .w-56
                    +button-primary('Начать', 'w-full')

        +card('p-4')
            div(class="flex items-start gap-4 justify-between")
                .flex.gap-4
                    +icon-book
                    +description-list('Раздел книги', '«Урок, который преподал мне Роберт Фрост»')
                .flex.flex-col.gap-4
                    +description-list('Период начала', '20.09.2023')
                    +description-list('Период окончания', '22.09.2023')
                .flex.flex-col.gap-4
                    +description-list('Начало', '13.09.2023')
                    +description-list('Окончание', '—')
                .flex.flex-col.gap-4
                    +description-list('Баллы', '—')
                    +description-list('Освоение', '—')
                .w-56.space-y-2
                    +button-primary('Продолжить', 'w-full')

                    +progress-bar

        +card('p-4')
            div(class="flex items-start gap-4 justify-between")
                .flex.gap-4
                    +icon-book
                    +description-list('Раздел книги', '«Урок, который преподал мне Роберт Фрост»')
                .flex.flex-col.gap-4
                    +description-list('Период начала', '20.09.2023')
                    +description-list('Период окончания', '22.09.2023')
                .flex.flex-col.gap-4
                    +description-list('Начало', '13.09.2023')
                    +description-list('Окончание', '—')
                .flex.flex-col.gap-4
                    +description-list('Баллы', '—')
                    +description-list('Освоение', '—')
                .w-56.space-y-2
                    +button-secondary('Остановить', 'w-full')

                    +progress-bar

        +card('p-4 !bg-emerald-100 border-emerald-300 border-1')
            div(class="flex items-start gap-4 justify-between")
                .flex.gap-4
                    +icon-success-lg
                    +description-list('Раздел книги', '«Урок, который преподал мне Роберт Фрост»')
                .flex.flex-col.gap-4
                    +description-list('Период начала', '20.09.2023')
                    +description-list('Период окончания', '22.09.2023')
                .flex.flex-col.gap-4
                    +description-list('Начало', '13.09.2023')
                    +description-list('Окончание', '15.10.2023')
                .flex.flex-col.gap-4
                    +description-list('Баллы', '357 из 579')
                    +description-list('Освоение', '53% из 100%')
                .w-56.space-y-2
                    +button-secondary('Перечитать', 'w-full')

                    +progress-bar-success

        

    //- page content end

    include _footer.pug