doctype html
html
    include _head.pug
    title Change Password
body(class="bg-gray-100 pb-20")
    include _header.pug

    //- page content start

    +main('')

        +card('max-w-md')
    
            +h3('Изменения пароля', 'text-center')

            div(class="space-y-2")
                +label('Текущий пароль')
                +input('', 'w-full')

            div(class="space-y-2")
                +label('Новый пароль')
                +input('', 'w-full')
            
            +button-primary('Изменить пароль')
              

    //- page content end

    include _footer.pug