doctype html
html
    include _head.pug
    title Dashboard
body(class="bg-gray-100 pb-20")
    include _header.pug

    //- page content start

    +main('')

        +h2('Тесты')

        +h4('Предстоящие тесты') 

        .grid.grid-cols-3.gap-4
            +test-card
            +test-card
            +test-card
            +test-card('Богатый папа, бедный папа')

        +h4('Архив тестов') 

        .grid.grid-cols-3.gap-4
            +test-card
            +test-card
            +test-card
            +test-card
            +test-card
            +test-card

        +button-secondary('Все тесты')
        

        +h2('Книги')

        .flex.items-center.justify-between
            .flex.items-center.gap-2

                +button-primary('Все')
                +button-secondary('Сейчас читаете')
                +button-secondary('Остановили')
                +button-secondary('Прочитали')

            .flex.items-center.gap-2
                select.block.rounded-lg.border-gray-200(name='' id='')
                    option(value='0') Выбрите четверть
                    option(value='1') Четверть I
                    option(value='2' selected='') Четверть II
                    option(value='3') Четверть III
                    option(value='4') Четверть IV

        +h4('Список рекомендуемых книг для чтения во второй четверти')

        div(class="grid grid-cols-4 gap-5")

            +book-card
            +book-card
            +book-card
            +book-card
            +book-card

        +button-secondary('Все книги')



        

    //- page content end

    include _footer.pug