doctype html
html
    include _head.pug
    title Forgot Password
body(class="bg-gray-100 pb-20")
    include _header.pug

    //- page content start

    +main('')

        +card('max-w-md')
    
            +h3('Восстановление пароля', 'text-center')

            .rounded-2xl.bg-yellow-100.p-4.flex.gap-4
                div
                    svg.shrink-0(width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M12 16.5801V12.5801M12 8.58008H12.01M22 12.5801C22 18.1029 17.5228 22.5801 12 22.5801C6.47715 22.5801 2 18.1029 2 12.5801C2 7.05723 6.47715 2.58008 12 2.58008C17.5228 2.58008 22 7.05723 22 12.5801Z' stroke='#EAB308' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                div Если ты ученик, обратись к своему учителю за паролем.


            div(class="space-y-2")
                +label('Номер телефона')
                +input('', 'w-full')
            
            +button-primary('Отправить запрос')

            div(class="text-center")
                a(href="") Войти
            
            




    //- page content end

    include _footer.pug