doctype html
html
    include _head.pug
    title Main
body(class="bg-gray-100 pb-20")
    include _header.pug

    //- page content start

    +main('')

        +h3('Расскажите о социальных движениях и правах граждан в истории.')

        textarea(class="block w-full rounded-2xl border border-gray-200 p-4 shadow-sm placeholder:text-gray-400" placeholder="Введите ваш ответ" rows="5" cols="30")

        +test-nav

    //- page content end

    include _footer.pug