doctype html
html
    include _head.pug
    title Main
body(class="bg-gray-100 pb-20")
    include _header.pug

    //- page content start

    +main('')

        h3(class="font-semibold text-lg") Какая эпоха была характеризована переходом от охоты и собирательства к земледелию и появлению первых поселений?

        +answer-one Древнее время
        +answer-one Каменный век
        +answer-one Средние века
        +answer-one Эпоха Возрождения
      
        +test-nav


    //- page content end

    include _footer.pug