doctype html
html
    include _head.pug
    title Main
body(class="bg-gray-100 pb-40")
    include _header.pug

    //- page content start

    +main('')

        +h3("Какая эпоха была характеризована переходом от охоты и собирательства к земледелию и появлению первых поселений?") 

        .flex.max-w-lg.justify-center.mx-auto
            img(src="content/ImageQuestion.jpg", alt="" class="rounded-2xl")

        +answer-one Древнее время
        +answer-one Каменный век
        +answer-one Средние века
        +answer-one Эпоха Возрождения

        +test-nav

    //- page content end

    include _footer.pug