doctype html
html
    include _head.pug
    title Main
body(class="bg-gray-100 pb-40")
    include _header.pug

    //- page content start

    +main('')

        +h3("Укажите страны, которые находятся в Азии?")

        +answer-multiple Узбекистан
        +answer-multiple
        +answer-multiple

        +test-nav


    //- page content end

    include _footer.pug