doctype html
html
    include _head.pug
    title Main
body(class="bg-gray-100 pb-20")
    include _header.pug

    //- page content start

    +main('')

        +card('')                

            .flex.justify-center.flex-col.items-center.gap-4
                h2(class="font-semibold text-3xl") Вы успешно сдали тест!

                +icon-success

            div(class="grid grid-cols-3 gap-4")
                +description-list('Правильные ответы', '17')
                +description-list('Неправильные ответы', '3')
                +description-list('Всего вопросов', '20')
                +description-list('Затраченное время', '22 минут')
                +description-list('Время на тест', '30 минут')
                +description-list('Место в классе', '19')
                +description-list('Место по всей школе', '187')
                +description-list('Набранные баллы из 289', '135')
                +description-list('Процент освоения из 100%', '76%')

            h3(class="font-semibold text-lg") Подробный отчет по тесту

            table(class='w-full')
                thead(class='bg-gray-100')
                    tr
                        th(class="border font-semibold p-4 text-left") №
                        th(class="border font-semibold p-4 text-left") Правильный ответ
                        th(class="border font-semibold p-4 text-left") Ваш ответ
                tbody
                    tr
                        td(class="border p-4") 1
                        td(class="border p-4") Каменный век
                        td(class="border p-4 text-red-500") Древнее время
                    tr
                        td(class="border p-4") 2
                        td(class="border p-4") Вариант А
                        td(class="border p-4 text-red-500") Вариант А
                    tr
                        td(class="border p-4") 3
                        td(class="border p-4") Узбекистан, Япония, Казахстан
                        td(class="border p-4 text-emerald-500") Египт, Узбекистан, Казахстан


            +button-secondary('Вернуться к другим тестам')


    //- page content end

    include _footer.pug